apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-hello-world
  namespace: my-hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-hello-world
  template:
    metadata:
      labels:
        app: my-hello-world
    spec:
      containers:
        - name: my-hello-world
          image: ghcr.io/erikgjacobsen/my-hello-world:latest
          ports:
            - containerPort: 8080